node_modules
package-lock.json

# atm-api
atm-api/.env
atm-api/build
atm-api/node_modules
atm-api/package-lock.json

# atm-app
atm-app/.env
atm-app/build
atm-app/node_modules
atm-app/package-lock.json
