.Register-container,
.Login-container {
  margin: 2rem 1.5rem;
}

.register-form,
.login-form {
  display: flex;
  flex-direction: column;

}

.register-fieldset,
.login-fieldset {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #3233fd;
  width: 85%;
  border: 1px solid #3233fd;
  border-radius: 25px;
  box-shadow: 0px 5px 3px #00000029;

  &:hover {
    background-color: #3233fd;
    color: #ffffff;
    border: 1px solid #01010a;
    font-weight: bold;
  }
}

h2,
span,
h3 {
  text-align: center;
}

.register-div,
.login-div {
  width: 80%;
  padding: 0 0.4rem;
}

.register-label,
.login-label {
  font-size: 14px;
}

.register-input,
.login-input {
  margin: 0.5rem 0;
  padding: 1rem;
  width: 100%;
  border: 1px solid #eaecef;
  border-radius: 5px;
  box-shadow: 0px 5px 3px #00000029;
}

.register-button,
.login-button {
  text-align: center;
  flex: 1;
  width: 94%;
  background-color: #3233fd;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 35px;
  padding: 1rem 1.5rem;
  margin: 2rem 0;

  &:hover {
    background-color: #ffffff;
    color: #3233fd;
    border: 1px solid #3233fd;
    font-weight: bold;
  }
}

.register-list {
  width: 90%;
  padding: 0.5rem;
  margin-top: 0.9rem;
  border: 1px solid #f0f0f0;
  border-radius: 15px;
  box-shadow: 0px 10px 6px #00000029;
}

.message {
  display: block;
  color: #ff4040;
  text-align: center;
  font-weight: bold;
}