.Home-container {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  background-color: #FFFFFF;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 1.8rem 1rem;
  gap: 1rem;

  background-color: #3233FD;
  color: #FFFFFF;
}
svg {
  height: 1rem;
  width: 1rem;
}
.textHeader {
  font-size: 12px;
}

.sidebar li {
  display: flex;
  align-items: center;

  gap: 3px;

  cursor: pointer;
}

.sidebar li:hover {
  color: #05D3AC;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: 30px;
  gap: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  border: 1px solid #F0F0F0;
  border-radius: 15px;
  box-shadow: 0px 10px 6px #00000029;
}

.header h1 {
  padding-left: 15px;
}

@media only screen and (max-width: 1024px) {
  .Home-container {
    flex-direction: column;
  }

  .sidebar {
    flex-direction: row;

    width: 100%;
  }
}